body{
    background-color: #EAC926;
    font-family: 'Roboto', sans-serif;
    border-radius: 2rem;
    box-sizing: border-box;
}

header, .header-info{
    padding: 1.5rem;
    background-color: #EAC926 ;
    border-radius: 2rem;
}

div{
    font-size: 12px;
}

.input-buscar{
    background-color: #dddada;
    margin: 1.5rem 1.5rem 0rem 1.5rem ;
    width: 35%;
}

.lupa{
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1.5rem;
    }

h1{
    font-size: 24px;
}

h1{
    font-size: 24px;
}


h5{
    padding: 1rem;
}

.precios{
font-size : 18px;
}

.descuentos{
    font-size : 16px;
}

.descripciones
{
    font-size : 16px;
}

.precios, .descuentos, h5 {
    text-align: center;
    display: block;
}

#producto{
    width: 60% ;
    height: 60% ;
    display:block;
    margin:auto; 
    border: solid 0.25rem black;
}


.cuerpo-de-texto{
    font-size: 0.75rem ; /*12px*/
    }

.lista{
    list-style: none;
}

.footer-front{
    background-color: white;
    padding: 1rem;
    border-radius: 2rem;
}

.header-link{
    text-decoration:none;
    color: black;
}